* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  border-bottom: 1px solid #d4d4d4;
}
.search-input {
  margin-left: 34px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  padding-left: 38px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}
.logo {
  padding: 38px 34px;
  border-right: 1px solid #d4d4d4;
}
.navigation {
  margin-right: 44px;
  margin-left: auto;
}
.navigation-link {
  text-decoration: none;
  font-size: 18px;
  color: #363636;
  padding: 0 14px;
}
.button-group {
  height: 100%;
}
.button {
  height: 100%;
}
.sign-up {
  font-size: 18px;
  color: #5671f6;
  border: none;
  background: inherit;
  padding: 0 34px;
  border-left: 1px solid #d4d4d4;
  cursor: pointer;
}
.login {
  font-size: 18px;
  color: #ffffff;
  border: none;
  background: #5671f6;
  padding: 0 50px;
  cursor: pointer;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
}
.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}
.film-wrapper {
  padding: 80px 0;
  display: flex;
}
.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 358px;
}
.trailer-button {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
}
.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  cursor: pointer;
}
.trailer-button-icon {
  margin-right: 14px;
}
.film-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 36px;
}
.film-subtitle {
  display: block;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}
.film-description {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.about-film {
  display: flex;
}
.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}
.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
.left-side {
  margin-right: 40px;
}
.rating {
  margin-top: 34px;
  display: flex;
  align-items: center;
}
.rating-counter {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #5671f6;
  border: 1px solid #5671f6;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 28px;
}
.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-top: 0;
  margin-bottom: 12px;
}
.rating-text {
  display: block;
  margin-bottom: 7px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}
.rating-text-bold {
  font-weight: bold;
  font-size: 16px;
}
.cast {
  margin-top: 60px;
}
.tabs {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.section-title {
  font-size: 24px;
  font-weight: normal;
  color: #a5a5a5;
  margin-right: 30px;
}
.section-title.active {
  font-weight: 900;
  color: #363636;
}
.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}
.card-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 20px;
}
.name {
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
  color: #5671f6;
  margin-bottom: 6px;
}
.en-name {
  font-weight: normal;
  font-size: 16px;
  color: #a5a5a5;
}
